<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="card-title" style="display: flex; align-items: center;">
          <h5>Status</h5>
          <span style="flex: 1"></span>
          <i *ngIf="status != null && status.lights" class="bi bi-lightbulb-off light-switch"
            (click)="toggleLight(false)"></i>
          <i *ngIf="status == null || !status.lights" class="bi bi-lightbulb light-switch"
            (click)="toggleLight(true)"></i>
          <i *ngIf="status != null" class="bi bi-check-circle" style="color: green;"></i>
          <i *ngIf="status == null" class="bi bi-exclamation-circle" style="color: red;"></i>
        </div>
        <div class="card-text" style="display: flex;">
          <span>Status: {{status != null ? 'Connected' : 'Disconnected'}}</span>
          <span style="flex:1;"></span>
          <span>Lights: {{status != null ? status.lights ? 'On' : 'Off' : 'Unknown'}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="card-title" style="display:flex; align-items: center;">
          <h5>Environment</h5>
          <span style="flex: 1"></span>
          <i class="bi bi-cloud"></i>
        </div>
        <div class="card-text" style="display: flex;">
          <span>Temperature: {{ status != null ? status.temp : '???'}}C</span>
          <span style="flex:1;"></span>
          <span>Humidity: {{status != null ? status.humidity : '???'}}%</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row margin-top">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title" style="display:flex; align-items: center;">
          <h5>Recent Errors</h5>
          <span style="flex: 1"></span>
          <i class="bi bi-bug"></i>
        </div>
        <table class="table table-bordered table-striped" *ngIf="errors.length > 0">
          <thead>
            <tr>
              <th scope="col" class="index-column">#</th>
              <th scope="col" class="level-column">Level</th>
              <th scope="col" class="timestamp-column">Timestamp</th>
              <th scope="col" class="message-column">Message</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of errors; let i = index">
              <th scope="row" class="index-column">{{i+1}}</th>
              <td>Error</td>
              <td>{{log.at | date:'short'}}</td>
              <td>
                <div class="message-column-text">{{log.message}}</div>
              </td>
            </tr>
          </tbody>
        </table>
        <p style="text-align: center;" *ngIf="errors.length == 0">No recent errors</p>
      </div>
    </div>
  </div>
</div>