[Unit]
Description=Farm systemd service
After=mysql.service
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
Environment="pass=your_password"
ExecStart=/bin/python3 /home/pi/farm/farm.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target